# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.java text diff=java
*.kt text diff=kotlin
*.gradle text diff=java
*.gradle.kts text diff=kotlin
*.xml text
*.json text
*.properties text
*.md text
*.txt text

# Scripts
*.sh text eol=lf
*.bat text eol=crlf
gradlew text eol=lf
gradlew.bat text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.m4a binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
*.pdf binary
*.ez binary
*.bz2 binary
*.swp binary
*.apk binary
*.aab binary
*.dex binary
*.class binary
*.so binary
*.jar binary
*.war binary
*.ear binary
