# --- Android Studio / IntelliJ ---
*.iml
.idea/
# Si quieres compartir estilos de código o VCS:
# !.idea/codeStyles/
# !.idea/vcs.xml

# --- Gradle ---
.gradle/
build/
*/build/
local.properties

# --- Compilación NDK / CMake ---
.externalNativeBuild/
.cxx/

# --- Capturas y otros ---
captures/

# --- Archivos de sistema ---
.DS_Store
Thumbs.db

# --- Binarios de build (no versionar) ---
*.apk
*.aab
*.ap_
*.dex
*.class

# --- Firmas y secretos (MUY IMPORTANTE) ---
*.jks
*.keystore
*.keystore.*
keystore.properties
google-services.json
*.pem
*.p12
*.key
.env
secrets*.json

# --- Node/JS (si en futuro usas tooling auxiliar) ---
node_modules/
dist/
*.log

.kotlin/
